/* Put your custom CSS here */
.left {
    margin-left: 0px;
    margin-right: 5px;
    float: left;
}
.boldtable, .boldtable td, .boldtable th {    font-family: sans-serif;   font-size: 12pt;   color: white;   background-color: navy;text-align: left}


td {text-align: left;padding: 10px 5px;  font-family: sans-serif;background-color: green ; font-size: 12pt; color: white }
th {text-align: left;padding: 10px 5px;  font-family: sans-serif;background-color: yellow ; font-size: 12pt; color: black }
